<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rohit.rohit.notes">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="rohit.rohit.notes.notes_show"></activity>
        <activity android:name="rohit.rohit.notes.app_info" />
        <activity android:name="rohit.rohit.notes.about_me" />
        <activity android:name="rohit.rohit.notes.report_bug" />
        <activity android:name="rohit.rohit.notes.setting" />
        <activity android:name="rohit.rohit.notes.statistics" />
        <activity android:name="rohit.rohit.notes.body_of_notes" />
        <activity android:name="rohit.rohit.notes.notes_list" />
        <activity android:name="rohit.rohit.notes.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>